# Composer
/vendor/
composer.lock
composer.phar

# PHPUnit
.phpunit.result.cache
.phpunit.cache/

# PHPStorm / JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.local
